.game-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: calc(100vw - 20px);
  max-width: 600px;
  min-width: 280px;
}

.image-question {
  min-height: 280px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-image .2s ease-in-out;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  row-gap: 15px;
}

.answer {
  width: calc(50vw - 25px);
  box-sizing: border-box;
  max-width: 290px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #fff;
  font-size: 24px;
  text-align: center;
  background-color: transparent;
  transition: .2s;
}

.answer:hover {
  background-color: #bcbcbc;
}

.picture-answers {
  max-height: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.picture-answer {
  width: calc(50vw - 30px);
  height: calc(50vw - 30px);
  max-width: 285px;
  max-height: 285px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: .5s;
  cursor: pointer;
  transition: background-image .2s ease-in-out;
}

.picture-answer:hover {
  box-shadow: 0px 0px 16px 10px rgba(0, 0, 0, 0.5);
}