.category {
  cursor: pointer;
  transition: box-shadow 0.5s;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  width: 200px;
  background-color: #fff;
}

.category:hover {
  box-shadow: 0px 0px 32px 10px rgba(0, 0, 0, 0.5);
}

.category-title {
  width: 100%;
  background-color: #fff;
  padding: 0 0 10px 10px;
  position: relative;
  color: #555;
  z-index: 2;
  pointer-events: none;
}

.category-number {
  font-size: 72px;
  font-weight: 700;
  line-height: 72px;
  text-align: left;
}

.category-name {
  transition: 0.5s;
}

.category:hover .category-name {
  letter-spacing: 5px;
}

.category-stats {
  position: absolute;
  right: 8px;
  top: 16px;
  font-size: 26px;
  font-weight: 400;
  line-height: 26px;
  color: transparent;
  pointer-events: none;
}

.category-img {
  width: 200px;
  height: 200px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  transition: transform 0.5s;
  filter: saturate(0%);
  pointer-events: none;
}

.category-results {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -15%;
  width: 100%;
  height: 15%;
  background-color: #fff;
  color: #30537a;
  font-size: 22px;
  transition: .5s;
  pointer-events: all;
}

.category:hover .category-img {
  transform: scale(1.1, 1.1);
}

.category.attempted .category-title,
.category.attempted .category-results {
  color: #30537a;
}

.category.attempted .category-img {
  filter: saturate(100%);
}

.category.attempted:hover {
  box-shadow: 0px 0px 32px 10px rgba(21, 99, 159, 0.5);
}

.category.perfect:hover {
  box-shadow: 0px 0px 32px 10px rgba(255, 215, 0, 1);
}

.category.perfect .category-title,
.category.perfect .category-results {
  color: #ffd700;
}

.category.category.attempted:hover .category-results {
  bottom: 0;
}
