.round-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.round-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin: 20px 0;
}

.round-number {
  font-size: 25px;
}

.round-number span {
  font-weight: 700;
}

.round-info button {
  margin: 20px 0;
}

.round-info span {
  text-align: center;
}
