.about-container {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 40px;
}

.about-block {
  width: 90%;
  display: flex;
  column-gap: 20px;
  padding: 40px 20px;
  background-color: #fff;
}

.about-block:nth-child(2n) {
  text-align: end;
  align-self: flex-end;
  flex-direction: row-reverse;
}

.about-block img {
  width: 30%;
  min-width: 240px;
  object-fit: cover;
}

.about-title {
  font-size: 2rem;
  font-weight: 700;
  margin: 20px 0;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 20px;
  justify-content: space-evenly;
}

.about-text span {
  width: 100%;
  text-align: left;
}

.about-text button {
  margin: 20px 0;
  width: 140px;
  border: 1px solid #333;
  align-self: center;
}

@media (max-width: 1000px) {
  .about-block,
  .about-block:nth-child(2n) {
    flex-direction: column;
    text-align: center;
    align-self: center;
  }
  .about-block img {
    width: 100%;
    height: 300px;
  }
}
