.picture-answers {
  max-height: 600px;
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  transition: gap 0.5s;
}

.picture-answer {
  height: calc(50vw - 2rem);
  max-width: 285px;
  max-height: 285px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s;
  cursor: pointer;
  transition: background-image 0.2s ease-in-out;
}

.picture-answer:hover {
  box-shadow: 0px 0px 16px 10px rgba(0, 0, 0, 0.5);
}
