.mode-selector {
  max-width: 350px;
  min-width: 250px;
  width: 30vw;
  position: relative;
}

.mode-preview {
  max-width: 350px;
  max-height: 350px;
  min-width: 250px;
  min-height: 250px;
  width: 30vw;
  height: 30vw;
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  box-shadow: -12px 12px 16px 0px rgba(34, 60, 80, 0.2);
}

.mode-title {
  margin-top: 15px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
}