html,
body {
  margin: 0;
  padding: 0;
  background: rgb(243, 248, 255);
  background: linear-gradient(
    90deg,
    rgba(243, 248, 255, 1) 0%,
    rgba(241, 241, 241, 1) 39%,
    rgba(198, 209, 213, 1) 100%
  );
  min-width: 300px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  width: 100vw;
}

.main-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}
